{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista artykułów</h1>
    <table class="table">
        {% for article in articles  %}
            <tr>
                <td>
                    {{ article.title }} - Autor: {{ article.user.name }}
                </td>
                <td>
                    <a href="/article/show/id/{{ article.id }}">Czytaj</a>
                    {% if (userService.hasCredentials('admin') or userService.user.id == article.user.getId) %}
                        <a href="/article/edit/id/{{ article.id }}" >
                            Edytuj artykuł
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if userService.isLogged %}
        <a href="/article/create" class="btn btn-default">
            Dodaj artykuł
        </a>
    {% endif %}



{% endblock %}
